{% extends "base.html" %}
{% block title %} Deals {% endblock %}
{% block main %}
<div id="deals-wrapper">
    <div class="row">
        {% for deal in deals %}
        <div class="col s12 deal-container">
            <div class="image-left">
                <p><img class="deals-image" src="data:image/jpeg;base64,{{ deal['deal_image'] }}" width="100px"
                        height="100px" alt=""></p>
            </div>

            <div class="deals-content-center">
                <p>{{ deal["deal-text"] }}</p>
                <p>{{ deal["expire-date"] }}</p>
            </div>

            <div class="deals-right"></div>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>

{% endblock %}