{% extends "base.html" %}
{% block main %}

<h5 class="categories-deals-title">Local bussinesses for {{ selected_category }}</h5>
{% for cat in category %}
<div id="category-deals">
    <div class="category-deals-card-container">
        <div class="row">
            <div class="category-deals-image col s2">
                <img src="https://i.etsystatic.com/14512607/r/il/033e20/5089214224/il_570xN.5089214224_kmpq.jpg"
                    width="100%" height="100px">
            </div>
            <div class="category-deals-description col s10">
                <span class="card-title">{{ cat["company_name"] }}</span>
                <p>{{ cat["description"] }}</p>

                <form action="{{ url_for('main.searched_category') }}" method="POST">
                    <input type="hidden" name="owner_id" value="{{ cat['owner_id'] }}">
                    <button type="submit" class="btn">View</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}